<footer class="nav-footer">
    <section class="sitemap">
        <a href="{{ site.baseurl }}" class="nav-home">
        </a>
        <div>
            <h5><a href="{{ site.baseurl }}/docs/">Docs</a></h5>
            <a href="{{ site.baseurl }}/docs/hello-world.html">Quick Start</a>
            <a href="{{ site.baseurl }}/docs/thinking-in-react.html">Thinking in React</a>
            <a href="{{ site.baseurl }}/tutorial/tutorial.html">Tutorial</a>
            <a href="{{ site.baseurl }}/docs/jsx-in-depth.html">Advanced Guides</a>
        </div>
    </section>
    <section class="copyright">
        Copyright © {{ site.time | date: '%Y' }}
    </section>
</footer>