<div class="nav-main">
    <div class="wrap">
        <a class="nav-home" href="{{ site.baseurl }}/">
            <img class="nav-logo" src="{{ site.baseurl }}/img/logo.svg" height="32">
            Schrapert
        </a>
        <div class="nav-lists">
            <ul class="nav-site nav-site-internal">
                <li><a href="{{ site.baseurl }}/docs/"{% if page.sectionid == 'docs' or page.sectionid == 'tips' or page.sectionid == 'contributing' %} class="active"{% endif %}>Docs</a></li>
                <li><a href="{{ site.baseurl }}/api/">API</a></li>
                <li class="nav-site-search">
                    <input id="algolia-doc-search" type="text" placeholder="Search docs..." />
                </li>
            </ul>
            <ul class="nav-site nav-site-external">
                <li><a href="https://github.com/maikelvanmaurik/schrapert">GitHub</a></li>
            </ul>
        </div>
    </div>
</div>